node_modules
node_modules/upper-case/dist/index.spec.js.map
node_modules/upper-case/dist/index.spec.d.ts
node_modules/upper-case/dist/index.js
node_modules/upper-case/dist/index.d.ts
node_modules/.package-lock.json
node_modules/upper-case/dist/index.spec.js
node_modules/upper-case/dist/index.js.map
